.section-p1
{
  text-align: center;
}

/* responsive Design; */

@media(max-width:768px)
{
    .home__container
    {
        width: 85%;
    }
    .home__row
    {
        display: grid;
        grid-template-columns: repeat(3,1fr);

    }
}